.holder {
    background-color: white;     
    border-radius: 16px;          
    width: 95%;                   
    height: auto;                  
    margin: auto;                
    box-sizing: border-box; 
    box-shadow: 1px 2px 2px 1px rgba(62, 50, 60, 0.17);   
    margin-top: 9.5%;
    padding: 1em;
    font-family: 'Inter', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.freeDay{
    background-color: gray;
    color: gray;
}

.anualLeave{
    background-color: hsl(160, 52%, 71%);
}

.month{
    margin-left: 0.64em;
}

.timesheettable input{
    border: none;
    width: 4em;
    text-align: center;
    font-size: 14px;
    height: 1.5em;
}

.timesheettable {
    margin: auto;
    margin-top: 1.75em;
    border-collapse: collapse;
    margin-bottom: 1em;
}

.timesheettable td {
    text-align: center;
    vertical-align: middle;
    height: 1.5em;
    border: 1px solid #b9b9b9;
}

.tableHeader td {
    background-color: hsl(160, 52%, 71%);
    color: white; 
}

table.timesheettable td:not(:first-child) {
    width: 4em; 
}

.tableHolderHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submite{
    background-color: hsl(160, 52%, 71%);
    border-radius: 47px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 0.5em; 
    margin-top: 0.1.7em;
    cursor: pointer;
    width:10em;
    margin: auto;

    display: flex;             
    justify-content: center;   
    align-items: center; 
    transition: opacity 0.3s ease;
}

.submite:hover{
    background: linear-gradient(to right, #0625CA, #1E93A6);
}

.submite.show {
    display: flex;  
}

.submite:not(.show) {
    display: none;  
}

.submite div{
    width: 100%;
    display: flex;             
    justify-content: center;   
    align-items: center;
}