* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfbfd;
    display: flex; 
    height: 100vh; 
}

.nav{
    background-color: #FFFFFF;
    width: 314px; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navLine{
    height: 1px; 
    border: none; 
    background-color: #E7E7E7;
}

.content {
    flex-grow: 1; 
    background-color: #fbfbfd; 
}

.logInfo img {
    width: 58px;
    height: 50px;
}

.logInfo p {
    margin-left: 14px;
    color: #637381;
    font-family: 'Inter', sans-serif;
}

.logInfoName{
    font-weight: 500;
    font-size: 16px;
}

.logInfoMail{
    font-weight: 400;
    font-size: 14px;
}

.logInfo {
    display: flex;
    align-items: center; 
    margin-top: 2em;
    margin-bottom: 26px;
}

.teamInfo{
    background-color: #FBFBFB;
    border-radius: 16px;
    padding-top: 0.55em;
    padding-left: 0.6em;
    padding-bottom: 0.55em;
    box-shadow: 0px 2px 2px 0px rgba(62, 50, 60, 0.17);
    width: 262px;
}

.teamInfo p{
    font-family: 'Play', sans-serif;
    color: #303354
}

.teamInfoTitle{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0.7em;
}

.teamInfoElement{
    font-weight: 400;
    font-size: 16px;
}

.teamInfo2{
    margin-top: 17px;
}

.navList {
    list-style-type: none; 
    padding: 0; 
    margin-top: 19px;
}

.navList li {
    display: flex; 
    align-items: center; 
}

.navList li img {
    width: 26px;
    height: 26px;
    margin-right: 0.5em;
}

.navList li{
    margin-top: 15px;
    padding: 0.35em;
    padding-right: 1.4em;
    font-family: 'Play', sans-serif;
}

.navList button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.navList li:hover {
    background-color: hsl(0, 0%, 85%);
    border-radius: 16px;
}

.navList button:focus {
    outline: none;
}

.contentTitle{
    font-family: 'Play', sans-serif;
    color: black;
    font-size: 40px;
    margin-top: 0.8em;
    margin-left: 0.8em;
}